    <section class="section-contact">
        <h3>Contact Us</h3>
        <p>Get in touch us. We are always here to help you.</p>

        <div class="contact-container" id="contact">
            <div class="contact-form">
                <form class="form" action="https://formspree.io/f/xpwaabqv" method="POST">

                    <div class="name-email">
                        <div class="name">
                            <label for="name">Full Name:</label>
                            <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
                        </div>

                        <div class="email">
                            <label for="eamil-contact">Email or contact number:</label>
                            <input type="email, tel" id="email-contact" name="email-cotact"
                                placeholder="Enter Your Email or Phone number" required>
                        </div>
                    </div>

                    <div class="contact-message">
                        <label for="message"></label>
                        <textarea name="message" placeholder="Tell us what you want to know?"></textarea>
                    </div>

                    <div class="button">
                        <input type="submit" id="submit-btn" class="btn-submit">
                    </div>
                </form>
            </div>

            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d645.5385524789442!2d82.76102361131159!3d27.84008852474775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3997af0066158d11%3A0x68abf7d3d92d14ac!2sBhalubang%20dang!5e0!3m2!1sen!2snp!4v1719397352520!5m2!1sen!2snp"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>