    <header>
        <div class="logo">
            <a href="#home"><img class="logo-img" src="../images/logo-img.jpg" alt="Please waite.."></a>
            <h1>khanal mobile center</h1>
        </div>

        <nav class="navbar">
            <ul>
                <li class="left"><a href="/">Home</a></li>
                <li class="left"><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <nav class="navbar" id="security">
            <ul>
                <li><a href="#login">Login</a></li>
                <li><a href="#signup">sigin up</a></li>
            </ul>
        </nav>
    </header>